<!DOCTYPE html>
<html lang="es-CO">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FitTracker - Create Workout</title>
  <link rel="stylesheet" href="../styles/style.css" />
  <link rel="stylesheet" href="../styles/create-workout.css" />
  <link rel="shortcut icon" href="../assets/icons/main-logo.png" type="image/x-icon" />
</head>

<body>
  <header>
    <a href="../" class="logo">
      <img src="../assets/icons/main-logo.png" alt="Main Logo" />
      <h3>FitTracker</h3>
    </a>
    <nav>
      <a href="../" class="nav-link dashboard">Panel</a>
      <a href="../templates/workouts.html" class="nav-link">Entrenamientos</a>
      <a href="../templates/schedule.html" class="nav-link">Cronogramas</a>
      <a href="../templates/reports.html" class="nav-link">Reportes</a>
    </nav>
  </header>
  <main>
    <section class="bienvenida">
      <div class="mensaje">
        <h1>Crear nuevo entrenamiento</h1>
        <p>Diseña y personaliza tu plan de entrenamiento</p>
      </div>

      <button class="back-button" onclick="window.location.href='./workouts.html'">
        <img src="../assets/icons/back.png" alt="back" />
        Volver a los entrenamientos
      </button>
    </section>
    <section class="create-workout-form">
      <form action="#" method="post" id="create-workout">
        <div class="form-row">
          <div class="form-group">
            <label for="name" class="form-label name">Nombre del entrenamiento</label>
            <input type="text" id="name" name="name" required placeholder="Ej: Rutina de fuerza" />
          </div>

          <div class="form-group">
            <label for="type" class="form-label type">Tipo de entrenamiento</label>
            <select name="workout-type" id="workout-type">
              <option value="">Selecciona una opcion</option>
              <option value="cardio">Cardio</option>
              <option value="strength">Fuerza</option>
              <option value="flexibility">Flexibilidad</option>
              <option value="other">Otro</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="description" class="form-label description">Descripcion (opcional)</label>
          <textarea id="description" name="description" rows="4"
            placeholder="Escribe una breve descripcion del entrenamiento">
            </textarea>
        </div>
      </form>

      <div class="exercises">
        <h2>Ejercicios</h2>

        <button class="add-exercise">
          <img src="../assets/icons/plus.png" alt="add" />
          Añadir ejercicio
        </button>
      </div>

      <div class="exercise-info">
        <h4>Ejercicio 1</h4>
        <div class="form-row">
          <div class="form-group">
            <label for="exercise-name">Nombre del ejercicio</label>
            <input type="text" class="exercise-name" placeholder="Ej: Peso muerto">
          </div>
          <div class="form-group">
            <label for="muscle-group" class="form-label muscle-group">Grupo muscular</label>
            <select name="muscle-group" id="muscle-group">
              <option value="">Selecciona un grupo muscular</option>
              <option value="pecho">Pecho</option>
              <option value="espalda">Espalda</option>
              <option value="hombros">Hombros</option>
              <option value="brazos">Brazos</option>
              <option value="piernas">Piernas</option>
              <option value="gluteos">Glúteos</option>
              <option value="abdomen">Abdomen</option>
              <option value="trapecio">Trapecio</option>
              <option value="antebrazo">Antebrazo</option>
              <option value="pantorrilla">Pantorrilla</option>
              <option value="otros">Otros</option>
            </select>
          </div>
        </div>

        <div class="sets">
          <p>Sets</p>
          <button class="add-set">
            <img src="../assets/icons/blue-plus.png" alt="blue-plus">
            Añadir set
          </button>
        </div>
        <div class="set-item">
          <label for="set1">Set 1:</label>
          <input type="number" class="reps" placeholder="Repeticiones"> repeticiones
          <input type="number" class="weight" placeholder="Peso"> kg
        </div>
        <div class="rest-time">
          <label for="rest-time-label">Tiempo de descanso (segundos)</label>
          <input type="number" min="0" max="60" placeholder="60">
        </div>
      </div>
      <hr>
      <div class="submit-buttons">
        <button class="save-draft">
          Guardar como borrador
        </button>
        <button type="submit" class="submit-btn">
          Crear entrenamiento
        </button>
      </div>
    </section>
  </main>
</body>

</html>