<!DOCTYPE html>
<html lang="es-CO">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FitTracker - Workouts</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/icons/main-logo.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <a href="../" class="logo">
        <img src="../assets/icons/main-logo.png" alt="Main Logo" />
        <h3>FitTracker</h3>
      </a>
      <nav>
        <a href="../" class="nav-link">Dashboard</a>
        <a href="../templates/workouts.html" class="nav-link">Workouts</a>
        <a href="../templates/schedule.html" class="nav-link">Schedules</a>
        <a href="../templates/reports.html" class="nav-link">Reports</a>
      </nav>
    </header>
    <main></main>
  </body>
</html>
